#root {
  margin: 0px;
  padding: 0px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.slider-container {
  width: 80%;
  margin: auto;
  background-color: lightgray;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.step {
  width: 10vw;
  height: 10vw;
  background-color: blue;
  border-radius: 100px;
  display: grid;
  place-items: center;
}

.active {
  background-color: green;
}

.message {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
